<div class="container-fluid forQuery">
    <div class="container px-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="Query_border py-5">
                    <div class="row align-items-center justify-content-center px-3">
                        <div class="col-xl-6 col-md-6">
                            <div class="Query_text">
                                Câu hỏi hoặc liên hệ đặt phòng ?
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="phone_num">
                                <a href="#" class="mobile_no">
                                    +93 40 92 819
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>