<show-page [urlimg]="'images/2.webp'" [subtitletext]="'Phòng khách sạn & Biệt thự'"></show-page>

<div class="container-fuild py-5">
    <div class="my-5 px-4 d-flex justify-content-center flex-column align-items-center">
        <h3 class="room-heading">Phòng Khách Sạn & Biệt Thự tại Qkit</h3>
        <div class="h-line bg-dark"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 bg-white rounded shadow">
                <div class="filter-room-container">
                    <div class="p-2 pb-5">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navFilterRoom" aria-controls="navFilterRoom" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse flex-column" id="navFilterRoom">
                                <div class="filter-room p-2">Bộ lọc</div>
                                <div class="nav-item border rounded bg-light mb-3">
                                    <form action="" class="form-check-day check-day">
                                        <div class="form-inner p-3">
                                            <div class="form-title">Chọn ngày</div>
                                            <div class="form-body">
                                                <label class="py-1">Check-in</label>
                                                <input type="date" name="inp_checkin" class="form-control">
                                                <label class="py-1">Check-out</label>
                                                <input type="date" name="inp_checkout" class="form-control">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="nav-item border rounded bg-light mb-3">
                                    <form action="" class="form-check-day check-day">
                                        <div class="form-inner p-3">
                                            <div class="form-title">Chọn ngày</div>
                                            <div class="form-body">
                                                <div class="py-1">
                                                    <input class="form-check-input me-1" type="checkbox">
                                                    <label>Tivi</label>
                                                </div>
                                                <div class="py-1">
                                                    <input class="form-check-input me-1" type="checkbox">
                                                    <label>Tivi</label>
                                                </div>
                                                <div class="py-1">
                                                    <input class="form-check-input me-1" type="checkbox">
                                                    <label>Tivi</label>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="nav-item border rounded bg-light mb-3">
                                    <form action="" class="form-check-day check-day ">
                                        <div class="form-inner p-3">
                                            <div class="form-title">Nội thất</div>
                                            <div class="form-body">
                                                <label class="py-1">Check-in</label>
                                                <input type="date" name="inp_checkin" class="form-control">
                                                <label class="py-1">Check-out</label>
                                                <input type="date" name="inp_checkout" class="form-control">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-lg-9"></div>
        </div>
    </div>
</div>