<div class="container-fluid feedback-show m-0 p-lg-5 pt-2 position-relative">
    <div class="container p-lg-5">
        <div class="swiper-customer-feedback px-5">
            Phản hồi khách hàng
        </div>
        <div class="swiper swiper-feedback py-lg-5 px-1">
            <div class="swiper-wrapper swiper-feedback-content ">
                <div class="swiper-slide swiper-feedback-cus">
                    <div class="swiper-caption">
                        <div class="p-4 swiper-caption-container shadow">
                            <div class="swiper-feedback-title">
                                <p>Trải nghiệm tuyệt vời</p>
                            </div>
                            <div class="swiper-feedback-content">
                                <p>Cứ mỗi vài năm tôi lại có dịp ghé thăm đà lạt, tuy nhiên những cảm xúc của tôi
                                    giành
                                    cho
                                    Đà Lạt dần tan biến theo. Khu vực trung tâm Đà Lạt Tôi thường xuyên đến khu vực
                                    hồ
                                    Tuyền
                                    Lâm và ở rất nhiều resorts gần đây, nhưng phải nói là tôi rất thích tại
                                    Terracotta
                                    vào
                                    dịp cuối tuần, khung cảnh rừng núi bên hồ tuyệt vời. Nhân viên thân thiện và
                                    chuyên
                                    nghiệp. Phòng chúng tôi nhìn ra rừng thông, phòng tắm sạch sẽ, bữa sáng rất
                                    ngon.
                                </p>
                            </div>
                            <div class="swiper-feedback-author">Phương Nguyễn ngày 10/03/2021</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-feedback-cus">
                    <div class="swiper-caption">
                        <div class="p-4 swiper-caption-container shadow">
                            <div class="swiper-feedback-title">
                                <p>Trải nghiệm tuyệt vời</p>
                            </div>
                            <div class="swiper-feedback-content">
                                <p>Cứ mỗi vài năm tôi lại có dịp ghé thăm đà lạt, tuy nhiên những cảm xúc của tôi
                                    giành
                                    cho
                                    Đà Lạt dần tan biến theo. Khu vực trung tâm Đà Lạt Tôi thường xuyên đến khu vực
                                    hồ
                                    Tuyền
                                    Lâm và ở rất nhiều resorts gần đây, nhưng phải nói là tôi rất thích tại
                                    Terracotta
                                    vào
                                    dịp cuối tuần, khung cảnh rừng núi bên hồ tuyệt vời. Nhân viên thân thiện và
                                    chuyên
                                    nghiệp. Phòng chúng tôi nhìn ra rừng thông, phòng tắm sạch sẽ, bữa sáng rất
                                    ngon.
                                </p>
                            </div>
                            <div class="swiper-feedback-author">Phương Nguyễn ngày 10/03/2021</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-feedback-cus">
                    <div class="swiper-caption">
                        <div class="p-4 swiper-caption-container shadow">
                            <div class="swiper-feedback-title">
                                <p>Trải nghiệm tuyệt vời</p>
                            </div>
                            <div class="swiper-feedback-content">
                                <p>Cứ mỗi vài năm tôi lại có dịp ghé thăm đà lạt, tuy nhiên những cảm xúc của tôi
                                    giành
                                    cho
                                    Đà Lạt dần tan biến theo. Khu vực trung tâm Đà Lạt Tôi thường xuyên đến khu vực
                                    hồ
                                    Tuyền
                                    Lâm và ở rất nhiều resorts gần đây, nhưng phải nói là tôi rất thích tại
                                    Terracotta
                                    vào
                                    dịp cuối tuần, khung cảnh rừng núi bên hồ tuyệt vời. Nhân viên thân thiện và
                                    chuyên
                                    nghiệp. Phòng chúng tôi nhìn ra rừng thông, phòng tắm sạch sẽ, bữa sáng rất
                                    ngon.
                                </p>
                            </div>
                            <div class="swiper-feedback-author">Phương Nguyễn ngày 10/03/2021</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-feedback-cus">
                    <div class="swiper-caption">
                        <div class="p-4 swiper-caption-container shadow">
                            <div class="swiper-feedback-title">
                                <p>Trải nghiệm tuyệt vời</p>
                            </div>
                            <div class="swiper-feedback-content">
                                <p>Cứ mỗi vài năm tôi lại có dịp ghé thăm đà lạt, tuy nhiên những cảm xúc của tôi
                                    giành
                                    cho
                                    Đà Lạt dần tan biến theo. Khu vực trung tâm Đà Lạt Tôi thường xuyên đến khu vực
                                    hồ
                                    Tuyền
                                    Lâm và ở rất nhiều resorts gần đây, nhưng phải nói là tôi rất thích tại
                                    Terracotta
                                    vào
                                    dịp cuối tuần, khung cảnh rừng núi bên hồ tuyệt vời. Nhân viên thân thiện và
                                    chuyên
                                    nghiệp. Phòng chúng tôi nhìn ra rừng thông, phòng tắm sạch sẽ, bữa sáng rất
                                    ngon.
                                </p>
                            </div>
                            <div class="swiper-feedback-author">Phương Nguyễn ngày 10/03/2021</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next">
            </div>
            <div class="swiper-button-prev">
            </div>
            <div class="swiper-pagination d-flex w-100">
                <div class="pagination-fb"></div>
                <div class="pagination-fb"></div>
                <div class="pagination-fb"></div>
                <div class="pagination-fb"></div>
            </div>
        </div>
    </div>
</div>