<div class="container-fuild p-5 pt-5 container-fuild-location">
    <div class="container wrapper-location clearfix pb-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="content-location-left">
                    <div class="lct-top-content text-start py-5">
                        <small style="color: var(--color-button);">Địa điểm thuận lợi</small>
                        <h4 class="pt-2">Những Điểm Ấn Tượng</h4>
                        <span>Là khách sạn & resort có số lượng phòng nhiều nhất</span>
                    </div>
                    <div class="card-location ">
                        <div class="card-location-img">
                            <img class="img-fuild img-location"
                                src="https://dalat.terracottaresort.com/image-data/950-620/dalat.terracottaresort.com/static/upload/images/nhung-diem-an-tuong/Diemantuong-27.jpg">
                        </div>
                        <div class="lct-wrap-content">
                            <h4>Bán đảo ven hồ Tuyền Lâm</h4>
                            <span>Khu nghỉ dưỡng Terracotta Đà Lạt rộng hơn 17 hecta, toạ lạc trên bán đảo ven hồ Tuyền
                                Lâm</span>
                            <a href="#" class="wrap-location">
                                Tìm Hiểu Thêm <i class="fa-solid fa-arrow-right small"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content-location-right">
                    <div class="card-location">
                        <div class="card-location-img">
                            <img class="img-fuild img-location"
                                src="https://dalat.terracottaresort.com/image-data/950-620/dalat.terracottaresort.com/static/upload/images/dia-diem/Vi-Tri-Dac-Dia.jpg">
                        </div>
                        <div class="lct-wrap-content">
                            <h4>Vị trí đắc địa</h4>
                            <span>Chỉ mất 10 phút đi vào trung tâm thành phố, 20 phút từ sân bay Liên Khương về khu nghỉ
                                dưỡng</span>
                            <a href="#" class="wrap-location">
                                Tìm Hiểu Thêm <i class="fa-solid fa-arrow-right small"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-location">
                        <div class="card-location-img">
                            <img src="https://dalat.terracottaresort.com/image-data/950-620/dalat.terracottaresort.com/static/upload/images/dia-diem/253206803-1768023266740888-6386722937691550827-N.jpg"
                                class="img-fuild img-location">
                        </div>
                        <div class="lct-wrap-content">
                            <h4>Không gian mở, rộng lớn</h4>
                            <span>Không gian mở, rộng lớn, rất thích hợp để tổ chức tiệc ngoài trời, hoạt động nhóm và
                                lễ
                                cưới…</span>
                            <a href="#" class="wrap-location">
                                Tìm Hiểu Thêm <i class="fa-solid fa-arrow-right small"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>