<footer class="container-fuild">
    <div class="container">
        <div class="row footer-info">
            <div class="col-lg-3 col-md-6">
                <ul class="">
                    <li class="nav-item footer-title">
                        Trang chủ
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Giới thiệu</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="/contact">Ưu đãi</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="/contact">Phòng và Dịch Vụ</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="/contact">Nhà hàng & Ẩm thực</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="/contact">Thư viện ảnh & Video</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="/contact">Giải trí</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="/contact">Địa điểm</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="/contact">Khuyến mãi</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="/contact">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <ul class="">
                    <li class="nav-item footer-title">
                        Tìm hiểu thêm
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Vị trí đắc địa</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="/contact">Không gian mở, rộng lớn</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <ul class="">
                    <li class="nav-item footer-title">
                        Thông Tin Liên Hệ
                    </li>
                    <li class="nav-item">
                        Terracotta Hotel & Resort Đà Lạt
                        Phân Khu chức năng 7.9
                        Khu Du Lịch Hồ Tuyền Lâm
                        Phường 3, Tp. Đà Lạt, Lâm Đồng
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/contact">+84.934 092 819</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <ul class="">
                    <li class="nav-item footer-title">
                        Tìm kiếm chúng tôi trên
                    </li>
                    <div class="nav-item d-flex icon-social">
                        <a class="nav-link" routerLink="/contact">
                            <i class="fa-brands fa-facebook-f fs-4"></i>
                        </a>
                        <a class="nav-link" routerLink="/contact">
                            <i class="fa-brands fa-instagram fs-4"></i>
                        </a>
                        <a class="nav-link" routerLink="/contact">
                            <i class="fa-brands fa-twitter fs-4"></i>
                        </a>
                        <a class="nav-link" routerLink="/contact">
                            <i class="fa-brands fa-github fs-4"></i>
                        </a>
                    </div>
                </ul>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center pt-3">
            <div class="footer-logo">
                <img src="images/logo/logo.png" alt="logo" width="150px">
            </div>
            <div class="footer-copyright">
                © Copyright DH52101039. Qkit Hotel & Resort - Website by
                Trần Quí Kiệt
            </div>
        </div>
    </div>
</footer>