.btn {
    border-radius: 20px;
    background-color: var(--color-button);
    border: 1px solid var(--color-button);
    color: #ffffff;
    transition: all 0.3s;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.btn:hover {
    transition: all 0.3s;
    background-color: #ffffff;
    color: var(--color-button);
}
