
<!-- Về chúng tôi  -->

<div class="container-fuild">
    <div class="container py-5">
        <div class="row px-0 py-5 mt-5">
            <div class="col-lg-5">
                <div class="about-text px-3">
                    <small style="color: var(--color-button);">Về chúng tôi</small>
                    <h2 class="about-text-header py-3">
                        Một khách sạn sang trọng
                        với thiên nhiên</h2>
                    <p class="about-text-desc py-4">
                        Đa dạng các địa điểm và dịch vụ giải trí: sân tennis, sân bóng rổ sân cầu lông, bàn bi da, bàn
                        bi lắc, hồ bơi trong nhà, phòng trò chơi dành cho trẻ em, massage/Spa, tour tham quan thành phố…
                    </p>
                    <div class="about-text-footer">
                        <div class="px-1">
                            <app-button [text]="'Xem thêm'"></app-button>
                            <span class="px-4 fst-italic">or</span>
                            <span>
                                <a href="" class="text-decoration-none hover">Xem Video</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="image-thumb d-flex">
                    <div class="img_1">
                        <img src="https://themewagon.github.io/montana/img/about/about_1.png" alt="">
                    </div>
                    <div class="img_2">
                        <img src="https://themewagon.github.io/montana/img/about/about_2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>