<div class="container-fluid container-fuild-home d-flex justify-content-center" style="z-index: 9999;">
    <div class="modal-popup d-none d-md-block" style="z-index: 9999;">
        <div class="modal-dialog position-relative">
            <div class="modal-content px-4 pt-5 mx-3 ">
                <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                    <div class="text-uppercase text-center spacing" style="font-size: 18px;">
                        <p>Chào Mừng Đến Với </p>
                        <p>Khu Nghỉ Dưỡng</p>
                        <p>Qkit Hotel & Resort</p>
                    </div>
                    <div class="modal-logo py-4 mt-2 ">
                        <img class="img-fluid" width="120px" src="images/logo/logo.png" alt="">
                    </div>
                    <div class="modal-desc py-2">
                        <small>Qkit Hotel & Resort
                            Viet Nam </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="under-modal position-absolute text-white text-uppercase spacing px-3">
        Khu nghỉ dưỡng Việt Nam chuẩn Quốc Tế nằm tại vị trí đắc địa
    </div>
</div>

<!-- Về chúng tôi  -->

<app-about-shared></app-about-shared>


<!-- Ưu đãi -->

<div class="container-fluid py-5">
    <div class="container">
        <div class="row pb-5">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <small style="color: var(--color-button);">Ưu đãi của Chúng tôi</small>
                    <h3>Ưu đãi đang có</h3>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-xl-4 col-md-4">
                <div class="single_offers h-100">
                    <div class="about_thumb">
                        <img class="img-fluid" src="images/2.webp" alt="">
                    </div>
                    <h3>Up to 35% savings on Club <br>
                        rooms and Suites</h3>
                    <ul class="pt-2 pb-3">
                        <li>Luxaries condition</li>
                        <li>3 Adults &amp; 2 Children size</li>
                        <li>Sea view side</li>
                    </ul>
                    <app-button2 text="Đặt ngay"></app-button2>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_offers h-100">
                    <div class="about_thumb">
                        <img class="img-fluid" src="images/3.webp" alt="">
                    </div>
                    <h3>Up to 35% savings on Club <br>
                        rooms and Suites</h3>
                    <ul class="pt-2 pb-3">
                        <li>Luxaries condition</li>
                        <li>3 Adults &amp; 2 Children size</li>
                        <li>Sea view side</li>
                    </ul>
                    <app-button2 text="Đặt ngay"></app-button2>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_offers h-100">
                    <div class="about_thumb">
                        <img class="img-fluid" src="images/4.jpg" alt="">
                    </div>
                    <h3>Up to 35% savings on Club <br>
                        rooms and Suites</h3>
                    <ul class="pt-2 pb-3">
                        <li>Luxaries condition</li>
                        <li>3 Adults &amp; 2 Children size</li>
                        <li>Sea view side</li>
                    </ul>
                    <app-button2 text="Đặt ngay"></app-button2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- địa điểm tốt -->

<app-location-shared></app-location-shared>

<!-- nhà hàng và ẩm thực  -->

<div class="container-fuild py-5">
    <div class="container py-5">
        <div class="row px-0 py-5 mt-5">
            <div class="col-lg-7">
                <div class="image-thumb d-flex justify-content-end">
                    <div class="img_1">
                        <img src="https://themewagon.github.io/montana/img/about/1.png" alt="">
                    </div>
                    <div class="img_2">
                        <img src="images/2.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-text px-3">
                    <small style="color: var(--color-button);">Nhà hàng và ẩm thực</small>
                    <h2 class="about-text-header py-3">
                        Một khách sạn sang trọng
                        với thiên nhiên</h2>
                    <p class="about-text-desc py-4">
                        Đa dạng các địa điểm và dịch vụ giải trí: sân tennis, sân bóng rổ sân cầu lông, bàn bi da, bàn
                        bi lắc, hồ bơi trong nhà, phòng trò chơi dành cho trẻ em, massage/Spa, tour tham quan thành phố…
                    </p>
                    <div class="about-text-footer">
                        <div class="px-1">
                            <app-button [text]="'Xem thêm'"></app-button>
                            <span class="px-4 fst-italic">or</span>
                            <span>
                                <a href="" class="text-decoration-none hover">Xem Video</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- phòng và dịch vụ -->

<div class="container-fuild feature-rooms py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title text-center pb-5">
                    <small style="color: var(--color-button);">Phòng nổi bật</small>
                    <h3 class="p-3">Chọn một phòng tốt hơn</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="room-here py-5">
        <div class="row">
            <div class="col-lg-6 p-0 room-thumb position-relative">
                <img class="img-fluid" src="images/2.webp">
                <div class="room-thumb-desc p-5 mx-3 position-absolute w-100">
                    <div class="room-thumb-heading d-flex justify-content-between align-items-center mx-3">
                        <div class="room-heading-inner text-white">
                            <span>Từ 2.000.000 đ/đêm</span>
                            <h3>Phòng thường</h3>
                        </div>
                        <a class="room-booking">Đặt Phòng</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0 room-thumb position-relative">
                <img class="img-fluid" src="images/2.webp">
                <div class="room-thumb-desc p-5 mx-3 position-absolute w-100">
                    <div class="room-thumb-heading d-flex justify-content-between align-items-center mx-3">
                        <div class="room-heading-inner text-white">
                            <span>Từ 2.000.000 đ/đêm</span>
                            <h3>Phòng thường</h3>
                        </div>
                        <a class="room-booking">Đặt Phòng</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0 room-thumb position-relative">
                <img class="img-fluid" src="images/2.webp">
                <div class="room-thumb-desc p-5 mx-3 position-absolute w-100">
                    <div class="room-thumb-heading d-flex justify-content-between align-items-center mx-3">
                        <div class="room-heading-inner text-white">
                            <span>Từ 2.000.000 đ/đêm</span>
                            <h3>Phòng thường</h3>
                        </div>
                        <a class="room-booking">Đặt Phòng</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0 room-thumb position-relative">
                <img class="img-fluid" src="images/2.webp">
                <div class="room-thumb-desc p-5 mx-3 position-absolute w-100">
                    <div class="room-thumb-heading d-flex justify-content-between align-items-center mx-3">
                        <div class="room-heading-inner text-white">
                            <span>Từ 2.000.000 đ/đêm</span>
                            <h3>Phòng thường</h3>
                        </div>
                        <a class="room-booking">Đặt Phòng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- liên hệ  -->

<div class="container-fuild py-5">
    <div class="row">
        <div class="col-lg-6">
            <iframe class="w-100 h-100"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.077156626874!2d106.61479581047384!3d10.728532389373205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ddd54d7b0f9%3A0x71bb91451324b3db!2zNjcvOCBOZ3V54buFbiBRdcO9IFnDqm0sIEtodSBQaOG7kSA0LCBCw6xuaCBUw6JuLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1729357798511!5m2!1svi!2s"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-lg-6">
            <div class="contact-container">
                <div class="section-title">
                    <h3>Thông tin liên hệ</h3>
                    <div class="contact-body">
                        Terracotta Hotel & Resort Đà Lạt Phân Khu chức năng 7.9 Khu Du Lịch Hồ Tuyền Lâm Phường 3,
                        Tp. Đà Lạt, Lâm Đồng
                    </div>
                    <div class="contact-bottom py-4">
                        <div class="py-2 contact-addr">Los Angeles 1481 Creekside Lane Avila Beach, CA 931</div>
                        <div class="py-2 contact-pn">+53 345 7953 32453</div>
                        <div class="py-2 contact-mail">yourmail.com</div>
                        <div class="py-4 contact-social d-flex justify-content-around">
                            <a class="nav-link" routerLink="/contact">
                                <i class="fa-brands fa-facebook-f fs-4"></i>
                            </a>
                            <a class="nav-link" routerLink="/contact">
                                <i class="fa-brands fa-instagram fs-4"></i>
                            </a>
                            <a class="nav-link" routerLink="/contact">
                                <i class="fa-brands fa-twitter fs-4"></i>
                            </a>
                            <a class="nav-link" routerLink="/contact">
                                <i class="fa-brands fa-github fs-4"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- đặt phòng hoặc câu hỏi -->

<app-contact-shared></app-contact-shared>

<!-- đánh giá -->

<!-- <app-swiper-feedback></app-swiper-feedback> -->